{% extends 'base.html' %}
{% load static %}
{% block content %}

{{ form.media }} <!-- for datepicker  -->
<body >
    <div class="col-md-4">
    <a href="{% url 'donors_add' %}" ><button type="button" style="color: #3333FF; background-color:#FFF933;">Add new donar</button></a>
    <form method="POST" action=""   novalidate >
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <br><br>
        <table class="table" style="text-align: left; ">


                {{ transaction_details.management_form }}

                {% for form in transaction_details.forms %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <tr class="{% cycle row1 row2 %} formset_row">
                        {% for field in form.visible_fields %}
                            <td>
                                {# Include the hidden fields in the form #}
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {{ field.errors.as_ul }}
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}


        </table>


        <input type="submit" value="Save"  >  <!--name="donation" id="donation" -->
        <a href="{% url 'donation_details_changelist' %}"> <button type="button" style=" color: black">Back to donations list</button></a>

    </form>
    </div>
<!-- installment tracking start -->
    <script src="{% static 'formset/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $('.formset_row').formset({
            addText: 'add current received amount ',
            deleteText: 'remove',
            prefix: 'transaction_details_set'
        });
    </script>
<!-- installment tracking finish  -->

<!-- Autocomplete field -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        // In your Javascript (external .js resource or <script> tag)
        $(document).ready(function() {
        $('#id_donor_details').select2();
        });
    </script>
<!-- Autocomplete field -->

<!--http://jsfiddle.net/0vt8z6jc/17/    AUTOFILL BOX    jquery link for demo autofill box code  -->
    <script>
        $('#id_current_received_amount').keyup(function() {
        var current_received_amount = $('#id_current_received_amount').val();
        var crAmount = current_received_amount;
        $('#id_transaction_details_set-0-current_received_amount').val(crAmount);
        });

        $('#id_donation_deposit_date').keyup(function() {
        var donation_deposit_date = $('#id_donation_deposit_date').val();
        var Date = donation_deposit_date;
        $('#id_transaction_details_set-0-donation_deposit_date').val(Date);
        });
    </script>

</body>
</html>

{% endblock %}