{% load static %}
<!--{%include 'Navbar.html'%}-->
<! doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min1.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"></style>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/table-scroling.css'%}">

    <!--  table styling scrolling   -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <!--   date picker -->
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

    <!--   autocomplete field-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <!--  add total and filter -->
<!--    <script type="text/javascript" src="{% static 'js/filter-on-columns.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'js/add-total-on-footer.js' %}"></script>



                                <!-- unwanted -->
<!--    <script src="https://cdn.datatables.net/fixedheader/3.1.9/js/dataTables.fixedHeader.min.js"></script>-->
    <!--    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>-->
                                <!-- unwanted -->
   <title>TEMPLE DONATION SYSTEM </title>
  </head>
  <body>
  {% load crispy_forms_tags %}
    <div class="container">
      <div class="row">
        <div class="col-sm">
<!--          <div class="header float-left">-->
<!--            <nav class="navbar navbar-expand-lg navbar-light">-->
<!--              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--                <div class="navbar-nav">-->
<!--                  <a class="nav-item nav-link active" href="#">FR</a>-->
<!--                  <a class="nav-item nav-link active" href="#">NL</a>-->
<!--                  <a class="nav-item nav-link active" href="#">EN</a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </nav>-->
<!--          </div>-->
<!--          <div class="header float-right">-->
<!--            <nav class="navbar navbar-expand-lg navbar-light">-->
<!--              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--                <div class="navbar-nav">-->
<!--                  <a class="nav-item nav-link active" href="#">Hello {{request.user}} &nbsp; &nbsp; &nbsp; &nbsp;</a>-->
<!--                  <a class="nav-item nav-link active" href="/logout">Logout</a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </nav>-->
<!--          </div>-->
            {%include 'Navbar.html'%}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
            <img style="height:40px;" src="{% static "img/Mandir-Image.jpg" %}  ">
        </div>
        <div class="col-md-8">
          <div class="float-right">
            <nav class="navbar navbar-expand-lg navbar-light">
              <div class="collapse navbar-collapse" id="navbarNavAltMarkupp">
                <div class="navbar-nav">
                  <a class="nav-item nav-link {% if '/donors_list' in request.path %}active{% endif %}" href="/donors_list">DONORS PERSONAL DETAILS</a>
                  <a class="nav-item nav-link {% if '/bhaktamber_category_list' in request.path %}active{% endif %}" href="/bhaktamber_category_list">BHAKTAMBER CATEGORIES </a>
                  <a class="nav-item nav-link {% if '/donation_details' in request.path %}active{% endif %}" href="/donation_details">DONATION DETAILS</a>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <div class="col-md-12">
<!--          <h5>TEMPLE DONATION SYSTEM</h5>-->
          <br/>
        </div>
      </div>

      {% block content %}
      {% endblock %}
    </div>
  </body>>